<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kii.example.sync"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".HelloSyncActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Service Used for Sync -->
        <service android:name="com.synclore.android.pfscsdk.PFSyncService" >
            <intent-filter >
                <action android:name="com.synclore.android.pfscsdk.ISessionManager" />
                <action android:name="com.synclore.android.pfscsdk.IChangeLogger" />
            </intent-filter>

            <meta-data
                android:name="com.synclore.android.pfscsdk.PFSyncService.preferences"
                android:resource="@xml/pfsyncservice_preferences" />
            <meta-data
                android:name="com.synclore.android.pfscsdk.PFSyncService.logconfig"
                android:resource="@xml/pfsyncservice_logconfig" />
        </service>

        <!-- Authority must be com.kii.sync.generic.{APPLICATION ID}.{identifier} 
        .{identifier} is optional. it is used when publishing multiple application which has same {APPLICATION ID} -->
        <provider
            android:authorities="com.kii.sync.generic.00b68ede"
            android:label="generic content provider"
            android:name="com.kii.sync.provider.GenericSyncProvider" >
        </provider>
        <meta-data
            android:name="app-id"
            android:value="00b68ede" />00b68ede
        <meta-data
            android:name="app-key"
            android:value="cd1437c95582c5443cadeb92c57d0ab8" />
        </application>

</manifest>
